{% extends "base.html" %}
{% load static %}
{% load sass_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% sass_src 'css/join_sidebar.scss' %}" type="text/css">
<link rel="stylesheet" href="{% sass_src 'css/join_process.scss' %}" type="text/css">
<link rel="stylesheet" href="{% sass_src 'css/join_request.scss' %}" type="text/css">
{% endblock %}

{% block sidebar %}
<div class="own-side-container clearfix">
    <div class="side-bar">
        <ul>
            <li><a href="{% url 'join_process' %}">입점절차</a></li>
            <li><a href="{% url 'join_request' %}">온라인 입점신청</a></li>
        </ul>
    </div>
    {% block own_content %}
    {% endblock %}
</div>
{% endblock %}