{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>요기요 사장님 사이트</title>
    <!-- favicon.ico 404(Not Found) -->
    <link rel="icon" href="{% static 'imgs/yogiyo_favicon.ico' %}">

    {% load sass_tags %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% sass_src 'css/signup.scss' %}">
</head>
<body>
    <div class="rd-wrapper contact-wrapper">
        <form method="POST" class="form-horizontal form-signup" action="/owner/signup/">
            {% csrf_token %}
            <div class="registration-wrap">
                <div class="control-group">
                    <div class="control-label">사업자번호</div>
                    <div class="controls">
                        <input type="text" name="company_number" id="id_company_number">
                        <span class="alert-text">"-" 포함하고 입력 필요. ex) 111-11-11111</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">휴대폰번호</div>
                    <div class="controls">
                        <input type="text" name="phone_number" id="id_phone_number">
                        <span class="alert-text">"-" 제외하고 입력 필요. ex) 0101234567</span>
                    </div>
                </div>
            </div>
            <div class="txts">
                <p class="bs-callout-info">
                    <i class="spr"></i>'회원가입 인증하기'는 입점신청이 완료된 사장님에 한해 이용이 가능합니다.
                </p>
                <p>
                    <i class="spr"></i>아직 요기요 입점을 신청하지 않으셨다면 온라인 입점신청을 진행해주세요.
                    <a href="{% url 'join_process' %}" class="link">온라인 입점신청하기</a>
                </p>
                <p>
                    <i class="spr"></i>아이디/비밀번호를 분실한 경우, 본 페이지에서 사업자 번호와 휴대폰번호를 인증하시면 아이디/비밀번호를 재등록하실 수 있습니다.
                </p>
            </div>
            <div class="btn-wrapper">
                <button type="submit" name="contact_yogiyo" class="btn">다음</button>
            </div>
        </form>
    </div>
</body>
</html>