{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>요기요 사장님 사이트</title>
    <!-- favicon.ico 404(Not Found) -->
    <link rel="icon" href="{% static 'imgs/yogiyo_favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <!-- Bootstrap Separate -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="nav" class="owner-header">
    <h1>
        <a href="/" id="owner-name">사장님 사이트</a>
    </h1>
    <ul class="nav-ul">
        <li class="n1"><a href="/">내 업소 관리</a></li>
        <li class="n2"><a href="/">사장님 혜택</a></li>
        <li class="n3"><a href="/">입점 안내</a></li>
    </ul>
    <ul class="ext-ul">
        <li class="outlink"><a href="/">매출관리</a></li>
        <li class="outlink"><a href="/">우리가게 비즈센터</a></li>
        <li class="outlink"><a href="/">알뜰쇼핑</a></li>
        <li class="outlink"><a href="/">사장님 포털</a></li>
        <li class="dropdown"><a href="/">전체메뉴</a></li>
        <li>|<a href="/">로그인</a></li>
    </ul>
</div>
<div class="owner-container">

</div>
<div class="footer">

</div>
</body>
</html>