.owner-header {
    border-bottom: 1px solid #E0E0E0;
    height: 83px;
    width: 100%;
    position: relative;
    min-width: 960px;
    margin: 0 auto;
    padding: 26px 20px 25px 20px;
}
.owner-header h1{
    width: 164px;
    height: 35px;
    float: left;
    background: url("/static/imgs/img-nav-owner-v2.png") no-repeat;
}
.owner-header #owner-name {
    display: block;
    text-decoration:none;
    text-indent: -999em;
    overflow: hidden;
}
.nav-ul {
    list-style: none;
}
.nav-ul .n1{
    float: left;
}
.owner-header .nav-ul .superintend{
    background: url("/static/imgs/yogiyo_my_shop.png") no-repeat;
    display: block;
    height: 36px;
    text-indent: -999em;
    overflow: hidden;
    margin-left: 43px;
}
.nav-ul .n2{
    float: left;
}
.nav-ul .n3{
    float: left;
}
.owner-container {
    padding-bottom: 90px;
}
.footer {
    background-color: #FBFBFB;
    border-top: 1px solid #D9D9D9;
    width: 100%;
    font-size: 12px;
    padding-bottom: 82px;
    margin: 0;
}