body, p, h1, h2, ul, ol, li, dl, dt, dd, table, th, td, form {
    margin: 0;
    padding: 0;
}
.owner-header {
    border-bottom: 1px solid #E0E0E0;
    height: 83px;
    width: 100%;
    position: relative;
    min-width: 960px;
    margin: 0 auto;
    padding: 26px 20px 25px 20px;
}
.owner-header h1{
    width: 164px;
    height: 35px;
    float: left;
    background: url("/static/imgs/img-nav-owners-v2.png") no-repeat;
    cursor: url("/static/imgs/img-nav-owners-v2.png"), pointer, width: 160px, height: 30px;
}
.owner-header a {
    text-decoration:none;
}
.owner-header #owner-name {
    display: block;
    text-indent: -999em;
    overflow: hidden;
}
.nav-ul a {
    background: url("/static/imgs/img-nav-owners-v2.png") no-repeat;
    display: block;
    height: 36px;
    text-indent: -999em;
    overflow: hidden;
    margin-left: 43px;
}
.nav-ul .n1 a {
    background-position: -234px 0;
    width: 85px;
}
.nav-ul .n1 a:hover {
    background-position: -234px -36px;
    width: 85px;
}
.nav-ul .n2 a {
    background-position: -361px 0;
    width: 83px;
}
.nav-ul .n2 a:hover {
    background-position: -361px -36px;
    width: 83px;
}
.nav-ul .n3 a {
    background-position: -486px 0;
    width: 66px;
}
.nav-ul .n3 a:hover {
    background-position: -486px -36px;
    width: 66px;
}
.nav-ul {
    list-style: none;
}
.nav-ul>li {
    float: left;
}
.ext-ul {
    float: right;
    color: #E0E0E0;
    list-style: none;
}
.ext-ul>li {
    float: left;
}
.ext-ul .outlink a {
    color: #333;
    font-size: 14px;
    margin: 0 32px 0 0;
}
.ext-ul .outlink a:hover {
    color: red;
}
.ext-ul li a:hover {
    color: red;
}
.ext-ul a {
    display: inline-block;
    line-height: 36px;
    color: #888;
    font-size: 12px;
    margin: 0 10px;
}
.dropdown {
    position: relative;
}
.owner-container {
    padding-bottom: 90px;
}
.footer {
    background-color: #FBFBFB;
    border-top: 1px solid #D9D9D9;
    width: 100%;
    font-size: 12px;
    padding-bottom: 82px;
    margin: 0;
}