* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
}
body, input, select, textarea, button, table {
    color: #616161;
}
body, input, select, textarea, button, table {
    font: 14px/1.5;
    color: #666666;
}
ul {
    list-style: none;
}
input[type="text"], input[type="number"], input[type="password"], input.txt {
    width: auto;
    height: 24px;
    line-height: 1;
    font-size: 18px;
    text-align: left;
    padding: 4px 2px;
    color: #231815;
    border: 1px solid #cccccc;
    outline: 0;
    background: transparent;
}
.button {
    text-decoration: none;
    display: inline-block;
    height: 47px;
    text-align: center;
    background-color: #fa0050;
    color: #fff;
    border: none;
    border: 1px solid #b4060d;
    box-shadow: inset 0 1px 0 #eb8c8f;
    font-weight: bold;
    cursor: pointer;
}
#login {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
    label {
        display: block;
        position: absolute;
        top: 8px;
        left: 80px;
        width: auto;
        padding: 0;
        margin-bottom: 5px;
        background: none;
    }
    .spr {
        display: inline-block;
        background: url('../imgs/spr.png') no-repeat 0 0;
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        vertical-align: middle;
    }
    input {
        display: block;
        color: #7f7f7f;
    }
    .button {
        display: block;
        width: 100%;
        height: 56px;
        line-height: 53px;
        font-size: 20px;
    }
    h1 {
        margin-bottom: 22px;
        text-align: left;
        color: #fa0050;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        .ico {
            width: 178px;
            height: 62px;
            background-position: 0 -1px;
        }
    }
    .form-signin {
        position: relative;
        width: 580px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        padding: 50px 0;
        background: #fff;
        box-shadow: 0 0 5px 3px #d0d0d0;
    }
    .form-horizontal {
        border-top: 1px solid #d0d0d0;
        .control-group {
            position: relative;
        }
    }
    fieldset {
        border: none;
    }
    .control-group {
        padding: 0 190px 0 150px;
        margin-bottom: 16px;
        border: none;
        overflow: hidden;
        .control-label {
            bottom: 0;
            font-size: 14px;
            font-weight: bold;
            color: #616161;
            letter-spacing: -1px;
        }
        .input-wrap {
            position: relative;
            padding: 0 40px 0 0;
            height: 37px;
            border: 1px solid #afafaf;
            background: #fff;
            input {
                background: transparent;
                border: none;
            }
            .ico-id {
                background-position: -207px -11px;
            }
            .ico {
                position: absolute;
                top: 8px;
                right: 10px;
                width: 18px;
                height: 20px;
            }
            .input-block-level {
                width: 90%;
                padding-top: 5px;
                font-size: 15px;
            }
            .ico-pw {
                background-position: -209px -37px;
            }
        }
    }
    .controls {
        padding: 0;
        margin: 0;
        width: 100px;
        position: absolute;
        top: 71px;
        right: 80px;
        .button {
            height: 94px;
        }
    }
    .center {
        text-align: center;
    }
    .register {
        text-align: center;
        color: #fa0050;
        font-size: 16px;
    }
    ul {
        padding: 18px;
        li {
            background-image: url('../imgs/bu_rect.png');
            background-position: 0 6px;
            background-repeat: no-repeat;
            background-size: 2px auto;
            color: #888;
            font-size: 13px;
            line-height: 17px;
            padding-left: 10px;
            margin-bottom: 10px;
        }
    }
}